body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#canvas-container {
    display: block;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.fps-stats {
    white-space: pre;
    display: flex;
    font-family: monospace;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* background-color: #ddd; */
    /* text-align: center; */
    align-items: center;
    justify-items: center;
}

#mode-indicator {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* background-color: #ddd; */
    color: #FFFFFF;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}
